@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.w3-bar a {
    font-family: 'Open Sans Condensed', sans-serif;
}

.mySlides {
    display: none
}

.w3-container {
    font-family: 'Open Sans Condensed', sans-serif;
    color:#303030;
}

.parallax { 
    /* The image used */
    background-image: url("/assets/california_sunshine_weed_tours.jpg");
  
    /* Set a specific height */
    height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax img {
      max-width: 100%;
  }

  .mySlides .btn {
    position: absolute;
    font-family: 'Staatliches', sans-serif;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }

  .mySlides .btn:hover {
    background-color:white;
    color:#555;
  }

  .contact {
    font-family: 'Staatliches', sans-serif;
  }

  @media only screen and (max-width: 600px) {

    .parallax { 
        background-attachment: scroll;
        background-size: 100% 100%;
      }

    .mySlides .btn {
        height: 40px;
        font-size: 13px;  
    }

    .w3-row-padding {
        margin: 2px 0px;
    }
    
  }
